In [48]:
from jinja2 import Template
import datetime

In [62]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def getName(self):
        return self.name
 
    def getAge(self):
        return self.age

In [63]:
 per = Person("Федор", 33)

In [65]:
tm = Template("Мне {{p.age}} лет и зовут {{ p.name }}.")
msg = tm.render(p=per)

In [68]:
per = { 'name': 'Педор', 'age': 34 }
 
tm = Template("Мне {{p.age}} лет и зовут {{ p.name }}.")
msg = tm.render(p=per)

In [69]:
print(msg)

Мне 34 лет и зовут Педор.

In [64]:
 per.getName()

'Федор'

In [82]:
cities = [{'id': 1, 'city': 'Москва', 'lol': 'гавно'},
          {'id': 5, 'city': 'Тверь'},
          {'id': 7, 'city': 'Минск'},
          {'id': 8, 'city': 'Смоленск'},
          {'id': 11, 'city': 'Калуга'}]
 
link = '''<select name="cities">
{% for c in cities -%}
{% if c['lol'] -%}
    <option value="{{c['id']}}">{{c['city'] + '-' + c['lol']}}</option>
{% else -%}
    <option value="{{c['id']}}">{{c['city']}}</option>
{% endif -%}
{% endfor -%}
</select>'''
 
tm = Template(link)
msg = tm.render(cities = cities)
 
print(msg)

<select name="cities">
<option value="1">Москва-гавно</option>
<option value="5">Тверь</option>
<option value="7">Минск</option>
<option value="8">Смоленск</option>
<option value="11">Калуга</option>
</select>

In [93]:
cars = [
    {'model': 'Ауди', 'price': 23000},
    {'model': 'Шкода', 'price': 17300},
    {'model': 'Вольво', 'price': 44300},
    {'model': 'Фольксваген', 'price': 21300}
]

# Требуется вывести суммарную цену всех автомобилей. Для этого можно прописать такой шаблон:

tpl = "Суммарная цена автомобилей {{ cs | max(attribute='price') }}"
tm = Template(tpl)
msg = tm.render(cs = cars)
 
print(msg)

Суммарная цена автомобилей {'model': 'Вольво', 'price': 44300}

In [92]:
sum()

TypeError: unsupported operand type(s) for +: 'int' and 'dict'